@import url("styles/cards.css");
@import url("styles/navegação.css");
@import url("styles/botões.css");
@import url("styles/perfil.css");
@import url("styles/rodape.css");
@import url("styles/botao-flutuante.css");
@import url("styles/menu-lateral.css");

:root {
    --fonte-principal: "Montserrat", sans-serif;
    --cinza-escuro: #464646;
    --cinza-claro: #A3A3A3;
    --branco-gelo: #eeedf3;
    --branco: #FFFFFF;
    --preto: #333333;
    --laranja: #FFB050;
    --azul: #4894FF;
}

body {
    color: var(--cinza-escuro);
    font-size: 14px;
    font-weight: 500;
    font-family: var(--fonte-principal);
    background: var(--branco-gelo);
}

header {
    display: flex;
    width: 100vw;
}

hr {
    border-top: 1px solid var(--cinza-claro);
    margin: 0.1px;
}