.botões {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.botão-laranja,
.botão-branco,
.botão-azul {
    border-radius: 8px;
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 14px;
    height: 3.5em;
}

.botão-laranja {
    background-color: var(--laranja);
    border: none;
    color: var(--branco);
    width: 10em;
}

.botão-branco {
    background-color: transparent;
    border: 1px solid var(--cinza-claro);
    color: var(--cinza-escuro);
    width: 10em;
}

.botão-azul {
    background-color: var(--azul);
    border: none;
    color: var(--branco);
    width: 22em;
}