.barra-de-navegação {
    color: var(--preto);
    background: var(--branco);
    height: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em ;
    box-sizing: border-box;
    font-weight: 400; 
}

.icones-cel {
    height: 1em;
}

@media screen and (min-width: 1250px) {
    .barra-de-navegação{
        display: none;
    }
}