.container__perfil {
    display: flex;
    align-items: center;
    margin: 2em 1em 1em;
}

.container__mensagens {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.foto-perfil {
    margin-right: 1em;
}

.titulo__saudação {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--cinza-escuro);
}

.titulo__consultas {
    font-weight: 400;
    color: var(--cinza-claro);
}